name:  HelloWorld

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Hello world action step
        run: echo "Hello World!"
